<article class="form">
    <form id="authors-form" autocomplete="off">
        <h1>Authors form</h1>

        <input id="id" type="hidden" name="id">
        <input id="name" type="text" maxlength="30" placeholder="Name" required>
        <input id="surname" type="text" maxlength="30" placeholder="Surname" required>
        <input id="age" type="number" min="18" max="100" placeholder="Age" required>

        <button type="submit" onclick="submitForm(event)">Submit</button>
    </form>
</article>

